<div class="nav-collapse">
                <ul class="nav nav-tabs">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entidades <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#customer">Clientes</a></li>
                            <li><a href="#new_material">Materiales</a></li>
                            <li><a href="#new_warehouse">Almacenes</a></li>
                            <li><a href="#new_reason">Motivos</a></li>
                            <li><a href="#new_supplier">Proveedores</a></li>
                            <li><a href="#new_departamento">Region por Departamento</a></li>
                            <li><a href="#new_area">Areas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#request_list">Solicitudes</a></li>
                            <li><a href="#approval">Autorización</a></li>
                            <li><a href="#process">Atender solicitud</a></li>
                            <li><a href="#confirm">Confirmación</a></li>
                            <li class="divider"></li>
                            <li><a href="#storage_order">Orden de ingreso</a></li>
                            <li class="divider"></li>
                            <li><a href="#pickup_order">Orden de salida</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#stock">Stock por Producto</a></li>
                            <li><a href="#stock_batch">Stock por Lote</a></li>
                            <li class="divider"></li>
                            <li><a href="#kardex">Kardex</a></li>
                            <li><a href="#request_story">Historial de solicitudes</a></li>
                            <li><a href="#approval_story">Historial de aprobaciones</a></li>
                            <li><a href="#process_story">Historial de atenciones</a></li>
                        </ul>
                    </li>                    
                </ul>
            </div>