<div class="container padded">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><b>QR disponibles</b></div>
                <div class="panel-body">
                    <em>Tiene 10 QR disponibles aún</em>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading"><b>QR vendidos</b></div>
                <div class="panel-body">
                    <em>Tiene 10 QR disponibles aún</em>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><b>QR por vencerse</b></div>
                <div class="panel-body">
                    <em>Tiene 10 QR disponibles aún</em>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                    <p>flasdjflaskdjfasdf</p>
                </div>
            </div>
        </div>
    </div>
</div>